h1 {
  font-family: $raleway;
  font-weight: $bold;
}

h2 {
  font-family: $raleway;
  font-weight: $extra-light;
  color: $white;
  font-size: $large;
}

h3 {
  font-family: $raleway;
  font-weight: $bold;
  font-size: $large;
}


p {
  font-family: $raleway;
  font-weight: $regular;
  font-size: $medium;
}
